@charset "utf-8";

body {
	font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
	font-size: 18px;
	text-shadow: 0 0 6px #ff496c;
	color: #F1E6FF;
	background-color: #2f2042;
	margin: 25px;
}

h1 {font-size: 32px}
h2 {font-size: 24px}

#logo {
	width: 194px;
	height: 34px;
}

#article {
	max-width: 780px;
	margin: 0 auto
}