@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Pangolin&display=swap&subset=cyrillic');

body {
    font-family: 'Pangolin', cursive;
	font-size: 20px;
	text-shadow: 0 0 6px #ff496c;
	color: #F1E6FF;
	background-color: #2f2042;
}

h1 {font-size: 32px}
h2 {font-size: 24px}

#article {
	max-width: 780px;
	margin: 0 auto; 
	padding: 18px;
	text-align: justify
}
#aheader {
	color: #F1E6FF; 
	text-decoration: none
}
#addinf {
	font-size: 17px
}
#price {
	font-size: 125%
}
#copyright {
	color: #543964; 
	font-size: 11px; 
	text-shadow: 0 0 0 !important
}